body{
  background-image:Linear-gradient(127deg, rgb(210, 255, 198), rgb(142, 255, 138) 70.71%);
}
.img{
  height: 300px;
  width:600px;
  margin-left: -50px;
  margin-top: 20px;
}

.Feedback{
  margin-top: 90px;
}
.lesimages{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: -150px;
  
}
.un{
  
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.deux{
  
   margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.trois{
  
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.truc1{
  filter: gray;
  -webkit-filter: grayscale(100%);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  margin-left: -20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.truc1:hover{
  filter: none; 
  -webkit-filter: grayscale(0%)
}

.button:hover {
   display: inline-block;
}
.Courses{
  margin-top: -20px;
  margin-bottom: 50px;
}
.unpetitbutton{
  background-color: #e7e7e7; color: black;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 12px;
}
.unpetitbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.unpetitbutton{
  background-color:lightyellow;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #6F6363;
}
